.note-container {
     width: 90vw;
     max-width: 1128px;

     margin-top: 2rem;
     display: grid;
     grid-template-columns: repeat(3 , 1fr);
     padding: 1rem 2rem ;
     margin: 0 auto;
     gap: 2rem;
     object-fit: contain;
}

.section {
     padding: 0  1rem 1rem 1rem;
}
.section-title {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 0.3rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }


@media screen and (max-width : 760px)  {
    .note-container {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
    }
}